<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
	<listeners>
		<listener class-name="org.testngpractice.AutoRerun"></listener>
		<listener class-name="org.testngpractice.CustomReporter"></listener>
	</listeners>

	<!--<test name="Test 1">
		<classes>
			<class name="org.testngpractice.TestScenario1"></class>
			<class name="org.testngpractice.TestScenario2"></class>
		</classes>
	</test>-->
	<test name="Test 2">
		<classes>
			<class name="org.testngpractice.Sample"></class>
			<class name="org.testngpractice.SampeTest"></class>
		</classes>
	</test>
	
</suite> <!--
Suite -->
